#windowContent{	/* Normal text content */
		float:left;	/* Firefox - to avoid blank white space above panel */
		padding-left:20px;	/* A little space at the left */\
		/*font-size:small;font-family:arial,sans-serif*/
		
		height: 180px;
		width: 500px; 
		margin-left: 10px
		
	}	
	h4 {
  color: #c33;
  background: none;
  font-weight: bold;
  font-family:arial,sans-serif;
}
	h5 {
  color: #c33;
  background: none;
  font-weight: bold;
  font-family:arial,sans-serif;
}

ul {
	font-size:100%;
	color:#666666;	
	font-family:arial,sans-serif;
}

body#minwidth #outer{width:expression( documentElement.clientWidth < 900 ? (documentElement.clientWidth == 0 ? (body.clientWidth < 1067 ? "1067" : "auto") : "1067px") : "auto" );}

body#minwidth #outer{min-width:1067px;}

.boxed {
  border: 1px solid green ;
  text-align:center
  
}
